<div class='container'>
  <div id='form_new_movie'>
  <%= simple_form_for(@movie) do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :genre %>
    <%= f.input :summary %>
    <%= f.input :imdb_score %>
    <%= f.select :catego, ['TV series', 'movies']%>
    <%= f.input :origin %>
    <%= f.input :languange %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class:'btn btn-primary'%>
  <% end %>
</div>
</div>
