<div class='container' style='margin-top: 20px;'>
  <div class='card-product'>
  <%= image_tag @movie.photo %>
  <div class="card-product-infos">
    <h2><%= @movie.title %></h2>
    <p><b>Year: </b><%= "#{@movie.year}" %></p>
    <p><b>Genre: </b><%= "#{@movie.genre.capitalize}"%></p>
    <p><span class="fa fa-star checked" style='color:orange'></span><strong> Imdb Score: </strong><%= @movie.imdb_score %></p>
    <h5>Summary</h5>
    <p><%= @movie.summary %></p>
    <p><b>Category: </b><%= "#{@movie.catego} "%></p>
    <p><b>Country: </b><%= "#{@movie.origin}"%></p>
    <p><b>Language: </b><%= "#{@movie.languange }"%></p>
    <h5>Stars</h5>
    <ul>
    <% @movie.stars.each do |star| %>
      <li style="list-style-type: none;"><p><%= "#{star.fullname} ---> " %><%= link_to ' Star Details ', movie_star_path(@movie, star) %></p></li>
    <% end  %>
    </ul>
    <h5>Directors</h5>
    <% if @movie.director.nil? == false  %>
    <p><%= "#{@movie.director.fullname} ---> " %><%= link_to ' Director Details ', movie_director_path(@movie, @movie.director) %></p>
    <% end %>
  </div>
  </div>

  <h2 style='margin-top:30px; text-shadow:1px 1px gray;'><strong>User Reviews</strong></h2>
  <p><b>Average User Review:</b><%= " #{@avg_rate} "%></p>
    <% @movie.reviews.each do |review| %>
    <div class='card-product' style='height:150px; margin-top:30px;'>
    <div class="card-product-infos">
      <h6><b><%= "#{review.user.first_name} #{review.user.last_name}" %></b></h6>
      <p><%= "#{review.content}" %></p>
      <% counter = 0  %>
      <% 10.times do %>
        <% counter += 1 %>
        <% if counter <= (review.rating.to_i) %>
          <span class="fa fa-star checked" style='color:orange'>
        <% else %>
          <span class="fa fa-star checked" style='color:gray'>
        <% end %>
      <% end %>
      <%= link_to movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure you want to delete your review?'} do %>
        <i class="fa fa-trash destroy_review"></i>
      <% end  %>
    </div>
    </div>
    <% end %>


  <div class='centered_item' style='margin-top: 40px; margin-bottom: 40px;'>
    <%= link_to 'Add Review', new_movie_review_path(@movie), class:'btn-ghost' %>
    <%= link_to 'Add Actor', new_movie_star_path(@movie), class:'btn-ghost'  %>
    <%= link_to 'Edit Movie', edit_movie_path(params[:id]), class:'btn-ghost'  %>
    <% if @movie.director.nil? %>
      <%= link_to 'Add Director', new_movie_director_path(@movie), class:'btn-ghost' %>
    <% end %>
  </div>
  <div>
    <hr size='4' width='90%' color='gray'>
  </div>
  <div class='centered_item' style='margin-top: 30px; margin-bottom: 30px; display:flex; align-items: center; justify-content: center;'>
    <%= link_to 'All Movies', movies_path, class:'btn-dark' %>
  </div>
</div>
