<div class='container' id='top_list'>
  <div>
    <h1>Top Movies</h1>
    <hr size=10 color=#826251>
    <div>
        <ol>
          <% @movies.sort {|a,b| b.imdb_score <=> a.imdb_score}.each do |movie| %>
            <% if movie.catego == "movies"  %>
              <% films =[] %>
              <% films.push(movie) %>
              <% films.each do |movie|  %>
              <li>
                <p style='font-size:22px'><%= "#{movie.title} (#{movie.year}) "%></p>
                <p><b>Rating:</b><%= " #{movie.imdb_score} "%></p>
                <%= link_to ' 👉   ', movie_path(movie) %>
              </li>
              <%= image_tag movie.photo, class:'img_top', id:'mov_pic'%>
            <% end %>
          <% end  %>
          <% end %>
        </ol>
      </div>
  </div>

  <div>
    <h1>Top TV Series</h1>
    <hr size=10 color=#826251>
      <div>
        <ol>
          <% @movies.sort {|a,b| b.imdb_score <=> a.imdb_score}.first(5).each do |film| %>
            <% if film.catego == "TV series"  %>
              <li>
                <p style='font-size:22px'><%= "#{film.title} (#{film.year}) "%></p>
                <p><b>Rating:</b><%= " #{film.imdb_score} "%></p>
                <%= link_to ' 👉   ', movie_path(film) %>
              </li>
              <%= image_tag film.photo, class:'img_top', id:'mov_pic'%>
            <% end %>
          <% end  %>
        </ol>
      </div>
  </div>
</div>

