<div class='container'>
  <h1 align='center'>Add a new star to the movie</h1>
  <hr>
  <%= simple_form_for [ @movie, @star ], url: movie_stars_path do |f| %>
    <%= f.input :fullname %>
    <%= f.input :birthyear %>
    <%= f.input :minibio %>
    <%= f.input :nationality %>
    <%= f.input :top_movies %>
    <%= f.input :height %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class:'btn btn-secondary', id:'createStar' %>
  <% end %>
</div>

<style>
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Yusei Magic', sans-serif;
    color:#68C3D4;
  }
  label {
    font-weight:bold;
    letter-spacing: 1px;
    font-style: italic;
    color:#568EA3;
    font-family: 'Oswald', sans-serif;
  }
  #createStar {
    width:20%;
    margin:auto;
    display: block;
    margin-bottom:30px;
  }
</style>
