<h2><%= @star.fullname %></h2>
<hr>
<div class='card'>
  <% if @star.photo.attached?  %>
    <%= image_tag @star.photo, class:'img_top' %>
  <% end %>"
</div>
<br>
<div class='container'>
  <p><b>Year of Birth:</b> <%= @star.birthyear %>
  <p><b>Mini Bio:</b> <%= @star.minibio %>
  <p><b>Nationality:</b> <%= @star.nationality %>
  <p><b>Top Movies:</b> <%= @star.top_movies %>
  <p><b>Height:</b> <%= @star.height %>
</div>
<div id='buttonStar'>
  <%= link_to 'Edit Actor', edit_movie_star_path(:movie_id), class:'btn-ghost'  %>
</div>
<style>
  #buttonStar {
    display:block;
    margin:auto;
    margin-bottom:30px;
    width:20%;
  }

  .card {
    display:block;
    margin:auto;
    width:30%;
    background:none;
    border:none;
  }
</style>
