<div class='container'>
  <div class='card-body' id='userInfo'>
    <h2>User Info</h2>
    <hr>
    <ul>
      <li><p><b>First Name: </b><%= current_user.first_name %></p></li>
      <li><p><b>Last Name: </b><%= current_user.last_name %></p></li>
      <li><p><b>Email: </b><%= current_user.email %></p></li>
      <hr>
      <h3><strong>Reviews: </strong></h3>
      <% arr = []  %>
      <% @reviews.each do |review| %>
        <% if review.user %>
          <% arr << review  %>
        <% end  %>
      <% end %>
      <p><%= "You have #{arr.length} reviews." %></p>
      <h4><b>Reviewed Movies:</b></h4>
      <% @reviews.each do |review| %>
        <% if review.user %>
          <li><%= review.movie.title %></li>
          <p><%= review.content %></p>
        <% end %>
      <% end %>
      <hr>
      <h3><strong>Posts: </strong></h3>
      <% @posts.each do |post| %>
      <% if post.user %>
       <li><%= post.forum.title %></li>
       <p><%= post.content %></p>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>

<style>
  #userInfo {
    width:700px;
    margin:auto;
  }
  h2 {
    margin-top:20px;
  }
</style>
